.header_style {
  display: flex;
  justify-content: center;
  font-size: larger;
  align-items: center;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0 0 0 0.02rem rgb(184, 181, 181);
  border-radius: 0.3em 0.3em 0 0 ;
  height: 10vh;
}

.skill_con {
  border-radius: 0.3em;
  box-shadow: 0 0 0 0.02rem rgb(184, 181, 181);
}

.tile_container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 15em);
  justify-items: center;
  align-items: center;
}

.__box_cont {
  position: relative;
  overflow: hidden;
  margin: 2em;
  width: 9em;
  height: 9em;
  border-radius: 1.2em 0.2em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px 0 gray ;
}
.__effect{

  overflow: hidden;
}
.__effect::after {
  content: "";
  top: -1em;
  width: 45%;
  height: 30vh;
  position: absolute;
  z-index: 1;
  rotate: 10deg;
  overflow: hidden;
  animation: slide 5s 1s infinite;
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.404) 70%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(50%, rgba(255, 255, 255, 0.256)),
    color-stop(99%, rgba(128, 186, 232, 0)),
    color-stop(100%, rgba(125, 185, 232, 0))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.379) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.347) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.318) 50%,
    rgba(67, 125, 174, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.342) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 );
  /* IE6-9 */
}

@keyframes slide {
  0% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(80%);
  }
}
img {
  z-index: 1;
  width: 5em;
}



@keyframes press0 {
  0%,
  20%,
  40%,
  80%,
  100% {
    box-shadow: none;
  }
  60% {
    box-shadow: 2px 5px 15px rgb(196, 186, 186);
  }
}
@keyframes press1 {
  0%,
  20%,
  40%,
  80%,
  100% {
    box-shadow: none;
    /* box-shadow: 2px 2px 3px rgb(187, 176, 176); */
  }
  60% {
    box-shadow: 2px 5px 15px rgb(187, 176, 176);
  }
}
@keyframes press2 {
  0%,
  20%,
  40%,
  80%,
  100% {
    box-shadow: none;
  }
  60% {
    box-shadow: 2px 5px 15px rgb(187, 176, 176);
  }
}
@keyframes press3 {
  0%,
  20%,
  60%,
  80%,
  100% {
    box-shadow: none;
  }
  60%{
    box-shadow: 2px 5px 15px rgb(187, 176, 176);
  }
}
@keyframes press4 {
  0%,
  20%,
  40%,
  80%,
  60% {
    box-shadow: none;
  }
  60% {
    box-shadow: 2px 5px 15px rgb(187, 176, 176);
  }
}
@keyframes press5 {
  0%,
  20%,
  40%,
  80%,
  100% {
    box-shadow: none;
  }
  60% {
    box-shadow: 2px 5px 15px rgb(187, 176, 176);
  }
}
@keyframes press6 {
  0%,
  20%,
  40%,
  80%,
  100% {
    box-shadow: none;
  }
  60% {
    box-shadow: 2px 5px 15px rgb(187, 176, 176);
  }
}
@keyframes press7 {
  0%,
  20%,
  40%,
  80%,
  100% {
    box-shadow: none;
  }
  60% {
    box-shadow: 2px 5px 15px rgb(187, 176, 176);
  }
}
@keyframes press8 {
  0%,
  20%,
  40%,
  80%,
  100% {
    box-shadow: none;
  }
  60% {
    box-shadow: 2px 5px 15px rgb(187, 176, 176);
  }
}
@keyframes press9 {
  0%,
  20%,
  40%,
  80%,
  100% {
    box-shadow: none;
  }
  60% {
    box-shadow: 2px 5px 15px rgb(187, 176, 176);
  }
}

.skill_tile_con{
  position: relative;
}

/* 

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

 */
